.res{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,rgb(215 182 127),rgb(127 162 204));   
    width: 150px;
    text-align: center;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    margin-top: 15px;
    padding-top: 35px;
}

.res p{
    font-size: 1.4rem;
    font-weight: bold;
}