.Moedas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7cc;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    margin-top: 10px;
}

.Moedas select{
    text-align-last: center;
}

.Moedas select, .valor input{
    border: groove #cecccc;
    height: 2.7rem;
    font-size: 1.2rem;
    width: 100%;
}

.valor input{
    padding: 5px;
    width: 80%;
}

.Moedas p, .valor p{
    font-size: 1.4rem;
}

@media(max-width:960px){
    .Moedas select, .valor input{
        width: 195px;
        font-size: 1rem;
    }
}


@media(max-width:840px){
    .Moedas{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 380px;
    }

    .moeda,.valor{
        margin: 20px;
    }

    .Moedas select, .valor input{
        width: 100%;
    }

}

@media(max-width:460px){
    .Moedas{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 380px;
    }

    .moeda,.valor{
        margin: 20px;
    }

    .Moedas select, .valor input{
        width: 100%;
    }
}